@import url("../webfont.css");

/*#region fonts*/
    @font-face {
        font-family: 'JetBrains-Mono';
        src: url("../assets/fonts/JetBrains-Mono/JetBrainsMono-Regular.ttf") format("truetype"),
            url("../assets/fonts/JetBrains-Mono/JetBrainsMono-Regular.woff2") format("woff2");
    }

    @font-face {
        font-family: 'JetBrains-Mono';
        src: url("../assets/fonts/JetBrains-Mono/JetBrainsMono-Bold.ttf") format("truetype"),
            url("../assets/fonts/JetBrains-Mono/JetBrainsMono-Bold.woff2") format("woff2");
        font-weight: bold;
    }

    @font-face {
        font-family: 'JetBrains-Mono';
        src: url("../assets/fonts/JetBrains-Mono/JetBrainsMono-Italic.ttf") format("truetype"),
            url("../assets/fonts/JetBrains-Mono/JetBrainsMono-Italic.woff2") format("woff2");
        font-style: italic;
    }

    @font-face {
        font-family: 'JetBrains-Mono';
        src: url("../assets/fonts/JetBrains-Mono/JetBrainsMono-BoldItalic.ttf") format("truetype"),
            url("../assets/fonts/JetBrains-Mono/JetBrainsMono-BoldItalic.woff2") format("woff2");
        font-style: italic;
        font-weight: bold;
    }
/*#endregion */

/*#region element styling*/
    html {
        background-color: #00003d;;
        background-image: url("../assets/main/cartographer.png");
    }
    html, body, pre {
        font-size: 13px;
        font-family: 'JetBrains-Mono';
        color: #A3A3BD;
        cursor: url("../assets/main/point-epf.png"), default;
    }

    a {
        text-decoration: none;
        color: #A3A885;
    }

    a:hover {
        color: rgb(58, 70, 128);
        cursor: url("../assets/main/click-epf.png"), pointer;
    }

    ul {
        position: relative;
        list-style: none;
        margin-left: 0;
        padding-left: 1.2em;
    }

    ul li:before {
        font-family: 'NerdFontsSymbols Nerd Font';
        position: absolute;
        left: 0;
        padding-top: 0.1rem;
    }
    h1, h2, h3, h4, h5, h6, pre {
        margin: 0;
    }
    
    p {
        margin-top: 0;
    }
    
    b {
        color: rgb(133, 169, 194);
    }

    header {
        display: flex;
        justify-content: center;
        padding-top: 0.1rem;
    }

    header img {
        height: auto;
        max-width: 100%;
    }

    main {
        width: 58vw;
        margin: auto;
        /*text-align:justify;*/
    }

    footer {
        padding: 1rem;
    }
/*
    .nf, .nerd-font, .nerd-fonts {
        font-size: 1.3rem;
    }*/
/*#endregion */

/*#region responsive*/
    @media (min-width: 1201px) {
        #pagedoll img {
            width: max-content;
            position: fixed;
            right: 0.5rem;
            bottom: 0.5rem;
        }

    }

    @media (max-width: 1200px) {
        main {
            width: 80%;
        }
        #pagedoll img {
            width: max-content;
            position: fixed;
            right: 0.5rem;
            bottom: 0.5rem;
        }

    }

    @media (max-width: 700px) { 
        main {
            width: 98%;
        }

        footer {
            height: 6.5em;
        }
        /*
        #pagedoll img {
            width: 10rem;
            position: fixed;
            right: 0.3rem;
            bottom: 0.3rem;
        }*/
        #pagedoll {
            display: none;
        }
    }
/*#endregion */

#nav-wrapper {
    max-width: 100%;
    width: 44rem;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

/*sort out these elements and their htmls (want to get rid of pre mentions)*/

#inline-pre {
    display: inline-flex;
    flex-wrap: wrap;
}

#inline-pre pre {
    padding-right: 10px;
}

#center-pre {
    display: flex;
    justify-content: center;
}

#wrapper {
    /*width: 100%;*/
    /*border: 1px solid black;*/
    overflow: hidden; /* will contain if #first is longer than #second */
}