#contents {
    left: 10px;
    bottom: 10px;
    position: fixed;
    background: rgb(21, 29, 61);
    padding: 10px;
    border: 1px solid white;
}

.jumpto {
    font-size: 15px;
    margin-bottom: 3px;
    color: #be9c60;
}